
#map {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
}

#rasterMap {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
}

.container {
    display: flex;
}
button{
    margin: 5px
}

div.item {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px;
}

div.drag-target {
    width: 300px;
    height: 150px;
    border: 2px dashed #7f7fe9;
    margin-bottom: 25px;
}