
body {
    background-image: url("tlo/parsley.jpg");
    background-size:cover;
    padding: 100px;
}
div {
    border: 3px solid #000; /* Grubość, styl i kolor borderu */
    border-image: url('tlo/jesien.jpg') 150 round; /* Obraz obramowania i ustawienia */
    border-width: 50px;
    border-height: 50px;
    border-radius: 20px; /* Zaokrąglenie narożników */
    background-color: beige; /* Kolor beżowy */
    padding: 50px; /* Wewnętrzny odstęp dla treści */
    font-family: 'cursive', cursive; /* Wybór leśnej czcionki */
    font-size: 16px; /* Rozmiar czcionki */
    line-height: 1.5; /* Interlinia */
    color: #0f3611; /* Kolor czcionki na ciemnozielony */
    text-align: center; /* Wyśrodkowanie zawartości */
}
footer{
    text-align: right;
}
header{
    text-align: right;
}
h1{
font-style: italic;
transition: filter 0.3s ease, box-shadow 0.3s ease; /* Właściwości animowane */
}
h1:hover{
    filter: brightness(3); /* Stan po najechaniu myszą (zmniejszenie jasności) */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Stan po najechaniu myszą (cieniowanie) */
    transition-delay: 0.1s; /* Opóźnienie efektu włączenia */
}
h2{
    font-style: italic;
    transition: filter 0.3s ease, box-shadow 0.3s ease; /* Właściwości animowane */
}
h2:hover{
    filter: brightness(3); /* Stan po najechaniu myszą (zmniejszenie jasności) */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Stan po najechaniu myszą (cieniowanie) */
    transition-delay: 0.1s; /* Opóźnienie efektu włączenia */
}
h3{
    font-style: italic;
    transition: filter 0.3s ease, box-shadow 0.3s ease; /* Właściwości animowane */
}
h3:hover{
    filter: brightness(3); /* Stan po najechaniu myszą (zmniejszenie jasności) */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Stan po najechaniu myszą (cieniowanie) */
    transition-delay: 0.1s; /* Opóźnienie efektu włączenia */
}
p{
    border: 3px solid #000; /* Grubość, styl i kolor borderu */
    border-image: url('tlo/drewno.jpg') 100 round; /* Obraz obramowania i ustawienia */
    border-width: 10px;
    border-height: 100px;
    border-radius: 20px; /* Zaokrąglenie narożników */
    transition: filter 0.3s ease, box-shadow 0.3s ease; /* Właściwości animowane */
}
p:hover{
    filter: brightness(2); /* Stan po najechaniu myszą (zmniejszenie jasności) */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Stan po najechaniu myszą (cieniowanie) */
    transition-delay: 0.1s; /* Opóźnienie efektu włączenia */
}

img{
    width: 500px;
    height: 300px;
    padding:10px;
    border: 3px solid #000; /* Grubość, styl i kolor borderu */
    border-image: url('tlo/serce.jpg') 100 round; /* Obraz obramowania i ustawienia */
    border-width: 20px;
    border-height: 20px;
    border-radius: 20px; /* Zaokrąglenie narożników */
    transition: transform 2s; /* Animacja zmiany skali trwa 2 sekundy */
}
img:hover{
    transform: scale(1.3); /* Zwiększenie przycisku po najechaniu myszką */
}
video {

    padding: 10px;
    border: 20px solid transparent; /* Grubość, przezroczysty styl obramowania */
    border-image: url('tlo/serce.jpg') 100 round; /* Obraz obramowania i ustawienia */
    border-radius: 10px; /* Zaokrąglenie narożników */
    box-sizing: border-box; /* Kontrola rozmiaru elementu wraz z obramowaniem */
    width: 500px;
    height: 300px;
    transition: transform 2s; /* Animacja zmiany skali trwa 2 sekundy */
}
video:hover{
    transform: scale(1.3); /* Zwiększenie przycisku po najechaniu myszką */
}
header{
    transition: transform 0.5s ease; /* Animacja przesunięcia tekstu na lewo */
}
header:hover{
    transform: translateX(-10px); /* Przesunięcie tekstu na lewo po najechaniu myszką */
}

button {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 5s; /* Animacja zmiany skali trwa 2 sekundy */
}

button:hover {
    transform: scale(2); /* Zwiększenie przycisku po najechaniu myszką */

}





@media only screen and (max-width: 600px){
    body {
        padding: 20px
    }
    video{
        width: 250px;
        height: 200px;
        padding:10px;
    }
    img{
        width: 200px;
        height: 150px;
        padding:10px;
    }
    div{
        text-align: left;
    }

}
